$bar-four-green: #3d8e41;
$lynx-white: #f7f7f7;
$light-green: #f4fef4;
$spacer: 8;
$positions: relative, absolute, fixed, static, sticky, inherit, initial, revert,
  unset;
$tropical-trial: #8ad0b9;
